<footer class="footer-layout-1 bg-black" data-qa="component footer-layout-1">

    {% block main %}
        <div class="container sticky-anchor pt-5">
            <div class="row mb-lg-4 py-2">

                <div class="col-sm-6 col-lg mb-5 mb-lg-3">
                    {% block main_column_1 %}
                        <div class="mb-4">
                            <a href="https://www.facebook.com/endgamegear" target="_blank" rel="noopener" class="d-inline-block mr-3 mb-3 text-decoration-none ck-social-media-icons--footer">

                                <img class="img-fluid lazyload" data-qa="component ck-img" src="" data-src="https://img.endgamegear.com/assets/social/fb.svg" id="" title="facebook" alt="facebook" data-sizes="24px" data-srcset="" data-zoom="" data-svg-ext="" width="24">

                            </a>
                            <a href="https://twitter.com/endgamegear?lang=en" target="_blank" rel="noopener" class="d-inline-block mr-3 mb-3 text-decoration-none ck-social-media-icons--footer">

                                <img class="img-fluid lazyload" data-qa="component ck-img" src="" data-src="https://img.endgamegear.com/assets/social/twitter.svg" id="" title="twitter" alt="twitter" data-sizes="24px" data-srcset="" data-zoom="" data-svg-ext="" width="24">

                            </a>
                            <a href="https://www.youtube.com/channel/UCmfZMidVOOW2TvFBfBfT4sw" target="_blank" rel="noopener" class="d-inline-block mr-3 mb-3 text-decoration-none ck-social-media-icons--footer">

                                <img class="img-fluid lazyload" data-qa="component ck-img" src="" data-src="https://img.endgamegear.com/assets/social/youtube.svg" id="" title="youtube" alt="youtube" data-sizes="24px" data-srcset="" data-zoom="" data-svg-ext="" width="24">

                            </a>
                            <a href="https://www.instagram.com/endgamegear/" target="_blank" rel="noopener" class="d-inline-block mr-3 mb-3 text-decoration-none ck-social-media-icons--footer">

                                <img class="img-fluid lazyload" data-qa="component ck-img" src="" data-src="https://img.endgamegear.com/assets/social/insta.svg" id="" title="instagram" alt="instagram" data-sizes="24px" data-srcset="" data-zoom="" data-svg-ext="" width="24">

                            </a>
                            <a href="https://discord.com/invite/KYFKqCn" target="_blank" rel="noopener" class="d-inline-block mr-3 mb-3 text-decoration-none ck-social-media-icons--footer">

                                <img class="img-fluid lazyload" data-qa="component ck-img" src="" data-src="https://img.endgamegear.com/assets/social/discord.svg" id="" title="discord" alt="discord" data-sizes="24px" data-srcset="" data-zoom="" data-svg-ext="" width="24">

                            </a>
                        </div>


                        <a class="button-icon btn btn-outline btn-footer" data-qa="component button-icon faq-button" href="/faq">

                            <i class="    material-icon align-middle js-material-icon
    " data-qa="component material-icon">
                                email
                            </i>

                            <spinner class="        spinner spinner-border spinner-border--small align-middle js-spinner d-none " data-qa="component spinner">
                            </spinner>
                            <span>From default theme</span>
                        </a>
                    {% endblock %}
                </div>

                <div class="col-sm-6 col-lg mb-5 mb-lg-3 order-3">
                    <h4 class="">Shop</h4>

                    <ul class="nav flex-column" data-qa="component nav flex-column">
                        {% block main_column_2_links %}

                        {% endblock %}

                    </ul>
                </div>

                <div class="col-sm-6 col-lg mb-5 mb-lg-3 order-4">
                    <h4 class="">Switch shops</h4>

                    <ul class="nav flex-column" data-qa="component nav flex-column">
                        {% include 'components/footer_link.html.twig' with {
                            title: 'Default shop (just for default theme demonstration)',
                            href: path('shop_index', {_shop_prefix: 'default'})
                        } only %}
                        {% include 'components/footer_link.html.twig' with {
                            title: 'Miсe shop',
                            href: path('shop_index', {_shop_prefix: 'mouse'})
                        } only %}
                        {% include 'components/footer_link.html.twig' with {
                            title: 'Chairs shop',
                            href: path('shop_index', {_shop_prefix: 'chair'})
                        } only %}
                        {% include 'components/footer_link.html.twig' with {
                            title: 'Inherited chairs shop',
                            href: path('shop_index', {_shop_prefix: 'chair2'})
                        } only %}
                    </ul>
                </div>

                <div class="col-sm-6 col-lg mb-5 mb-lg-3 order-last">

                    <h4 class="">Pay with</h4>



                    <img class="payment-graphic d-inline-block d-lg-block mr-5 mr-md-3 mr-lg-0 mb-4  lazyload" data-qa="component ck-img" src="" data-src="https://img.endgamegear.com/assets/payment/paypal-white.svg" id="" title="paypal" alt="paypal" data-sizes="78px" data-srcset="" data-zoom="" data-svg-ext="" width="">


                    <img class="payment-graphic d-inline-block d-lg-block mr-5 mr-md-3 mr-lg-0 mb-4  lazyload" data-qa="component ck-img" src="" data-src="https://img.endgamegear.com/assets/payment/visa-white.svg" id="" title="visa" alt="visa" data-sizes="78px" data-srcset="" data-zoom="" data-svg-ext="" width="">


                    <img class="payment-graphic d-inline-block d-lg-block mr-5 mr-md-3 mr-lg-0 mb-4  lazyload" data-qa="component ck-img" src="" data-src="https://img.endgamegear.com/assets/payment/mastercard-white.svg" id="" title="mastercard" alt="mastercard" data-sizes="78px" data-srcset="" data-zoom="" data-svg-ext="" width="">


                    <img class="payment-graphic d-inline-block d-lg-block mr-5 mr-md-3 mr-lg-0 mb-4  lazyload" data-qa="component ck-img" src="" data-src="https://img.endgamegear.com/assets/payment/maestro-white.svg" id="" title="maestro" alt="maestro" data-sizes="78px" data-srcset="" data-zoom="" data-svg-ext="" width="">

                </div>
            </div>
        </div>
    {% endblock %}

    {% block last_line %}
        <div class="border-top border-dark">
            <div class="container d-flex flex-column text-center position-relative py-4 font-size-1">
                <div>©
                    <span class="text-primary">
                        {% block copyright %}
                            DEFAULT
                        {% endblock %}
                    </span> {{ 'now'|date('Y') }}</div>
            </div>
        </div>
    {% endblock %}
</footer>