{% extends 'layout/main.html.twig' %}
{% block main %}
    <div class="container">
        <div class="row my-5">
            <div class="col-12 py-5">
                <h1 class="mb-5">Not implemented</h1>
                <div class="overflow-auto mt-3 mb-0 p-2">
                    <p>
                        Page "{{ page_path }}" is not implemented in test task.
                        <br>
                        You can define it in /config/routes/shops.yaml file
                    </p>
                    <h3>Context data</h3>
                    <ul>
                        <li>Page: {{ page_path }}</li>
                        <li>Shop: {{ shop }} (prefix: /{{ prefix }}/)</li>
                        <li>Theme: {{ theme }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}