<div class="overflow-hidden">
    <a href="{{ href }}">
        <div class="parallax bg-mobile-left" style="background-image: url('{{ image|e('html_attr') }}');" alt="EPIC steuhle">
            <div class="content-wrapper">
                <h1>
                    {% block title %}{% endblock %}
                </h1>
                <p>
                    {% block description %}{% endblock %}
                </p>
                <div>
                    <button class="btn btn-light btn-lg">
                        {% block button %}{% endblock %}
                    </button>
                </div>
            </div>
        </div>
    </a>
</div>