<header class="d-flex align-items-center header-layout-2 " data-qa="component header-layout-2">
    <div class="container container-fluid-max-sm-px-0 header-inner d-flex align-items-center justify-content-center flex-wrap">
        <div class="main-nav navigation-wrapper navbar-expand-lg order-lg-2">

            <navigation-horizontal class="custom-element navigation-horizontal" data-qa="component navigation-horizontal">
                <nav class="d-lg-flex">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" data-qa="navbar-toggler">

                        <i class="material-icon js-material-icon" data-qa="component material-icon">
                            menu
                        </i>
                    </button>
                    <div class="collapse navbar-collapse menu" id="navbarNav" data-qa="navbar-collapse">
                        <ul class="navbar-nav">
                            {% block menu_links %}
                                {% include 'components/menu_link.html.twig' with {
                                    href: path('shop_stub', {path: 'default'}),
                                    title: 'Link in default'
                                } only %}
                            {% endblock %}
                        </ul>
                    </div>
                </nav>
            </navigation-horizontal>
        </div>

        {% block logo %}
            <div class="logo store-logo d-flex align-items-center order-lg-1" data-qa="component logo">
                <a href="{{ path('shop_index') }}" class="h-100 d-flex align-items-center">
                    <img class="img-fluid" src="{{ asset('images/logo.svg') }}" alt="Logo">
                </a>
            </div>
        {% endblock %}


        <nav class="ck-customer-dropdown-nav p-0 text-right d-flex ml-auto order-3" data-qa="component ck-customer-dropdown-nav">
            <ul class="navbar-nav justify-content-center menu--inline">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center text-center " href="{{
                        path('shop_stub', {path: 'sample'})
                    }}" role="button" title="Login">

                        <i class="material-icon js-material-icon
" data-qa="component material-icon">
                            person
                        </i>
                    </a>
                </li>
            </ul>
        </nav>


        <ck-cart-dropdown class="custom-element ck-cart-dropdown js-ck-cart-dropdown order-4" data-qa="component ck-cart-dropdown">
            <div class="ck-cart-dropdown__container d-flex align-items-center">

                <a class="cart-items-counter d-flex" data-qa="component cart-items-counter" href="{{ path('shop_stub', {path: 'sample'}) }}">
                <span class="cart-items-counter-inner ">

                <i class="    material-icon material-icon--bright cart-items-counter__icon align-middle d-inline-block js-material-icon
        " data-qa="component material-icon">
                            shopping_cart
                </i>

            <span class="cart-items-counter__label d-none">Cart</span>

    </span>

                </a>
            </div>
        </ck-cart-dropdown>
    </div>
</header>