{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>body {transition: opacity ease-in 0.2s; }
        body[unresolved] {opacity: 0; display: block; overflow: hidden; position: relative; }
    </style>
    <link rel="stylesheet" href="{{ asset('app.css') }}">
{% endblock %}
{% block javascripts %}
    <script type="application/javascript" src="https://assets.endgamegear.com/assets/endgamegear/js/runtime.fe5b04.js"></script>

    <script type="application/javascript" src="https://assets.endgamegear.com/assets/endgamegear/js/app.c02691.js" defer=""></script>
    <script type="application/javascript" src="https://assets.endgamegear.com/assets/endgamegear/js/imgix.min.js"></script>
{% endblock %}
{% block body %}
    {% block header %}
        {% include 'layout/_header.html.twig' %}
    {% endblock %}

    {% block main %}
        {% include 'layout/_main.html.twig' %}
    {% endblock %}

    {% block footer %}
        {% include 'layout/_footer.html.twig' %}
    {% endblock %}
{% endblock %}
