{% extends '@Default/layout/_header.html.twig' %}
{% block menu_links %}
    {{ parent() }}
    {% include 'components/menu_link.html.twig' with {
        href: path('shop_stub', {path: 'chairs'}),
        title: 'premium chairs'|upper
    } only %}
{% endblock %}