{# You can extend the same (or any other) template from any other theme #}
{% extends '@Default/layout/main.html.twig' %}
{% block title %}
    Chairs Shop
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('custom.css') }}">
{% endblock %}