.homepage-lp .content-wrapper {
    margin: auto 5% 3rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    text-shadow: 1px 0 8px rgba(0, 0, 0, 0.55);
}

.homepage-lp .content-wrapper h1,
.homepage-lp .content-wrapper .h1,
.homepage-lp .content-wrapper p {
    color: white;
}

.homepage-lp .content-wrapper h1,
.homepage-lp .content-wrapper .h1 {
    font-size: 22px;
}

.homepage-lp .content-wrapper .btn-light:change {
    border: none;
}

.homepage-lp .content-wrapper .btn-light:active {
    outline: none;
    border: none;
}

.homepage-lp {
    background-color: #222;
}

.homepage-lp .slick-carousel .slick-container {
    background-color: transparent !important;
}

.homepage-lp .slick-carousel .slick-next,
.homepage-lp .slick-carousel .slick-prev,
.homepage-lp .slick-carousel .slick-container .material-icon--bright {
    background-color: transparent!important;
}

.homepage-lp .slick-carousel .slick-container .slick-next:hover,
.homepage-lp .slick-carousel .slick-container .slick-prev:hover,
.homepage-lp .slick-carousel .slick-container .material-icon--bright:hover {
    background-color: transparent;
    color: #fff;
}

.homepage-lp .logo {
    height: 8rem;
}

.homepage-lp a {
    text-decoration: none;
}

.homepage-lp a,
.homepage-lp h1,
.homepage-lp .h1,
.homepage-lp p,
.homepage-lp h3,
.homepage-lp .material-icon--bright,
.homepage-lp .product-name {
    color: white;
}

.homepage-lp h1,
.homepage-lp .h1,
.homepage-lp h2,
.homepage-lp h3 {
    font-size: 1.65rem !important;
}

.homepage-lp h3 {
    text-transform: uppercase !important;
}

.homepage-lp .about-headline {
    font-size: 1.65rem !important;
    color: #000;
}

.homepage-lp p {
    font-size: 1rem !important;
    color: #000;
}

.homepage-lp .btn {
    font-family: "Montserrat";
    font-weight: bold;
    margin-top: 15px;
}

.homepage-lp .btn-lg {
    line-height: 1.5;
    font-size: 1.1rem;
}

.homepage-lp .btn-light:hover {
    cursor: pointer;
    background-color: #a98b2f !important;
    border: 1px solid #a98b2f;
    -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(73, 73, 73, 0.19);
    box-shadow: 0 12px 16px 0 rgba(30, 30, 30, 0.24), 0 17px 50px 0 rgbrgba(0, 0, 0, 0.19);
}

.homepage-lp .btn-light:change {
    border: none;
}

.homepage-lp .btn-light:active {
    outline: none;
    border: none;
}

.homepage-lp .btn-outline-light:hover {
    cursor: pointer;
    color: #a98b2f;
    background-color: transparent;
    border: 1px solid #a98b2f;
}

.homepage-lp .btn-outline-dark {
    color: black;
    border: 1px solid #5f4830;
}

.homepage-lp .btn-outline-dark:hover {
    cursor: pointer;
    color: #a98b2f;
    background-color: transparent;
    border: 1px solid #a98b2f;
}

.homepage-lp .social-media {
    height: auto;
    -webkit-transform-origin: 0 1%;
    transform-origin: 0 1%;
    transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
}

.homepage-lp .social-media a {
    fill: white;
}

.homepage-lp div.overflow-hidden {
    background-color: #000;
}

.homepage-lp .social-media a:hover {
    fill: #a98b2f;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .homepage-lp .content-wrapper h1,
    .homepage-lp .content-wrapper .h1 {
        font-size: 40px;
    }
    .parallax {
        background-position: center center;
        height: 75vh;
    }
    .homepage-lp .content-wrapper {
        margin: auto 5% 7rem;
    }
}

.bg-mobile-left {
    background-position: 20% center;
}

.bg-mobile-footrest {
    background-position: 40% center;
}

.bg-mobile-center {
    background-position: center center;
}

.bg-mobile-full-right {
    background-position: 100% center;
}

.bg-mobile-right {
    background-position: 65% center;
}

.about-homepage {
    background-color: #fff;
    position: relative;
}

.homepage-lp .parallax-background-footer-awards {
    background-color: #fff;
    height: auto !important;
}