{% extends 'layout/base/_footer.html.twig' %}
{% block main_column_2_links %}
    {% include 'components/footer_link.html.twig' with {
        title: 'Sample links',
        href: path('shop_stub', {path: 'sample'})
    } only %}

    {% include 'components/footer_link.html.twig' with {
        title: 'Defined in',
        href: path('shop_stub', {path: 'sample'})
    } only %}

    {% include 'components/footer_link.html.twig' with {
        title: 'Mouse theme',
        href: path('shop_stub', {path: 'sample'})
    } only %}
{% endblock %}
{% block copyright %}
    Mice Shop
{% endblock %}