{% extends '@Default/layout/_header.html.twig' %}
{% block menu_links %}
    {% include 'components/menu_link.html.twig' with {
        title: 'Some',
        href: path('shop_stub', {path: 'sample'})
    } only %}

    {% include 'components/menu_link.html.twig' with {
        title: 'Mouse Shop',
        href: path('shop_stub', {path: 'sample'})
    } only %}

    {% include 'components/menu_link.html.twig' with {
        title: 'Links',
        href: path('shop_stub', {path: 'sample'})
    } only %}
{% endblock %}