{% extends '@Default/shop/index.html.twig' %}
{% block main %}
    <section class="home">
        {% embed 'components/hero.html.twig' with {
            image: 'https://img.endgamegear.com/hp/xm1_r_hero.png',
            href: path('shop_stub', {path: 'sample'}),
        } only %}
            {% block title %}
                Mice Shop,
                <span class="d-block">
                    Hero component
                </span>
            {% endblock %}
            {% block description %}
                Feel free to override this component template in any child theme
            {% endblock %}
            {% block button %}
                Great!
            {% endblock %}
        {% endembed %}
    </section>
{% endblock %}