<div class="container hero">
    <div class="row d-flex justify-content-center align-items-center py-5">
        <div class="col-md-8 col-lg-5 text-center order-last">

            <img class="img-fluid w-75 lazyloaded" data-qa="component ck-img" src="{{ image }}">


        </div>
        <div class="col-lg-5 order-first order-lg-last text-center text-lg-left">
            <h1 class="mb-4 title-hero">
                {% block title %}{% endblock %}
            </h1>
            <p class="mb-4">
                {% block description %}{% endblock %}
            </p>
            <a class="mt-2 mb-5 mb-lg-0 button-icon btn btn-primary align-middle" data-qa="component button-icon" href="{{ href }}">
                <i class="material-icon align-middle" data-qa="component material-icon"> arrow_right
                </i>
                <span>{% block button %}{% endblock %}</span>
            </a>
        </div>
    </div>
</div>