{% extends 'layout/main.html.twig' %}
{% block main %}
    <div class="home">
        <!-- CMS_BLOCK_PLACEHOLDER : "content" -->
        <div class="homepage-lp">
            {% block parallax %}
                {% embed 'components/parallax.html.twig' with {
                    href: path('shop_stub', {path: 'image1'}),
                    image: 'https://img.noblechairs.com/homepage-redesign/epic1_desktop.jpg?auto=compress,format&fit=max&q=70',
                } only %}
                    {% block title %}
                        Chairs
                    {% endblock %}
                    {% block description %}
                        Welcome to chairs shop example!
                        <br>
                        It's reusable parallax component defined in chairs theme
                    {% endblock %}
                    {% block button %}
                        Button
                    {% endblock %}
                {% endembed %}
                {% embed 'components/parallax.html.twig' with {
                    href: path('shop_stub', {path: 'image1'}),
                    image: 'https://img.noblechairs.com/homepage-redesign/black2_desktop.jpg?auto=compress,format&fit=max&q=70',
                } only %}
                    {% block title %}
                        Another armchair
                    {% endblock %}
                    {% block description %}
                        description
                    {% endblock %}
                    {% block button %}
                        Button
                    {% endblock %}
                {% endembed %}
            {% endblock %}

            {% block final_words %}
                <div class="overflow-hidden">
                    <div class="parallax parallax-background-footer-awards py-5" style="transform: translateY(-3.6px);">
                        <div class="col-12 m-auto pt-5 about-homepage">
                            <div class="container py-5">
                                <a href="https://www.instagram.com/noblechairs/feed/" target="_blank" rel="nofollow noopener noreferrer">
                                    <picture>
                                        <source media="(min-width:768px)" data-srcset="https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-desktop.png" srcset="https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-desktop.png">

                                        <img class="img-fluid w-100 lazyloaded" data-qa="component ck-img" src="https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg" data-src="https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg" id="" title="" alt="instagram-feed" data-sizes="" data-srcset="https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=100 100w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=116 116w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=134 134w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=156 156w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=182 182w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=210 210w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=244 244w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=282 282w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=328 328w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=380 380w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=442 442w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=512 512w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=594 594w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=688 688w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=798 798w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=926 926w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1074 1074w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1246 1246w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1446 1446w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1678 1678w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1946 1946w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=2258 2258w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=2618 2618w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=3038 3038w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=3524 3524w," data-zoom="" data-svg-ext="" srcset="https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=100 100w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=116 116w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=134 134w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=156 156w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=182 182w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=210 210w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=244 244w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=282 282w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=328 328w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=380 380w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=442 442w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=512 512w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=594 594w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=688 688w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=798 798w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=926 926w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1074 1074w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1246 1246w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1446 1446w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1678 1678w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1946 1946w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=2258 2258w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=2618 2618w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=3038 3038w,https://img.noblechairs.com/homepage-redesign/instagram-feed-nc-mobile.jpg?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=3524 3524w," width="">


                                    </picture>
                                </a>
                            </div>
                            <div class="h1 about-headline my-5">
                                VIELFACH AUSGEZEICHNETE GAMING-STÜHLE
                            </div>
                        </div>
                        <div class="col-12 col-md-10 col-lg-8 col-xl-6 m-auto px-5 about-homepage">
                            <img src="https://img.noblechairs.com/homepage-redesign/logo-badge.svg" class="img-fluid ls-is-cached lazyloaded logo m-5" alt="logo-badge">
                            <p class="pb-5">
                                noblechairs bietet optimalen Komfort für alle, die viel Zeit am Schreibtisch verbringen. Inspiriert von den exklusivsten Autos der Welt, kombiniert noblechairs modernste Ergonomie und sportliches Design für das anspruchsvolle Individuum.
                            </p>
                        </div>
                    </div>
                </div>
                <script>
                    window.addEventListener('scroll', throttle(parallax, 14));

                    function throttle(fn, wait) {
                        var time = Date.now();
                        return function() {
                            if ((time + wait - Date.now()) < 0) {
                                fn();
                                time = Date.now();
                            }
                        }
                    };
                    // Helper function to get an element's exact y position
                    const elementOffSetTop = (el) => {
                        let top = 0;
                        let element = el;

                        do {
                            top += element.offsetTop || 0;
                            element = element.offsetParent;
                        } while (element);

                        return top;
                    }
                    // Parallax magic
                    function parallax() {
                        let scrolled = window.pageYOffset;
                        let parallax = document.querySelectorAll(".parallax");
                        let i = 0;
                        for (i = 0; i < parallax.length; ++i) {
                            let elementY = elementOffSetTop(parallax[i]);
                            let coords = (-elementY + scrolled) * 0.1 + 'px'
                            parallax[i].style.transform = 'translateY(' + coords + ')';
                        }
                    };
                </script>
            </div>
        {% endblock %}

    </div>
{% endblock %}