{% extends '@Chair/shop/index.html.twig' %}
{% block parallax %}
    {% embed 'components/parallax.html.twig' with {
        href: path('shop_stub', {path: 'stop'}),
        image: 'https://img.noblechairs.com/homepage-redesign/mercedes_desktop.jpg?auto=compress,format&fit=max&q=70',
    } only %}
        {% block title %}
            Another child theme
        {% endblock %}
        {% block description %}
            You're viewing <b>inherited/chair</b> theme which is child for <b>shop/chair</b> which is child of <b>shop/default</b> theme
        {% endblock %}
        {% block button %}
            We need to go deeper
        {% endblock %}
    {% endembed %}
{% endblock %}
